<h2 class="text-center mb-4">Formulario de Compra</h2>
<form [formGroup]="formularioCompra" (ngSumbit)="finalizarCompra()" class="mx-auto" style="max-width: 600px;">
    <!--Campos del formulario-->
    <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label fw-semibold">Nombre <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input id="nombre" formControlName="nombre" class="form-control" placeholder="Tu Nombre Completo">
                </div>
                <div *ngIf="formularioCompra.get('nombre')?.touched && formularioCompra.get('nombre')?.invalid" class="form-text text danger">
                    el nombre es obligatorio
                </div>
            </div>
        

        <div class="col-md-6">
                    <label for="telefono" class="form-label fw-semibold">Telefono <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input id="telefono" formControlName="telefono" type="number" class="form-control" placeholder="Tu Numero de telefono">
                    </div>
                    <div *ngIf="formularioCompra.get('telefono')?.touched && formularioCompra.get('telefono')?.invalid" class="form-text text danger">
                        el telefono es obligatorio
                    </div>
        </div>

        <div class="mb-3">
                    <label for="correo" class="form-label fw-semibold">Correo <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                        <input id="correo" formControlName="correo" class="form-control" type="email" placeholder="Tu Correo Electronico">
                    </div>
                    <div *ngIf="formularioCompra.get('correo')?.touched && formularioCompra.get('correo')?.invalid" class="form-text text danger">
                        el correo es obligatorio
                    </div>
        </div>

        <div class="col-md-6">
                    <label for="direccion" class="form-label fw-semibold">Direccion <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input id="direccion" formControlName="direccion" class="form-control" placeholder="Tu Direccion">
                    </div>
                    <div *ngIf="formularioCompra.get('direccion')?.touched && formularioCompra.get('direccion')?.invalid" class="form-text text danger">
                        la direccion es obligatoria
                    </div>
        </div>

        <div class="col-md-6">
                    <label for="provincia" class="form-label fw-semibold">Provincia <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input id="provincia" formControlName="provincia" class="form-control" placeholder="Tu Provincia">
                    </div>
                    <div *ngIf="formularioCompra.get('provincia')?.touched && formularioCompra.get('provincia')?.invalid" class="form-text text danger">
                        Este campo es obligatorio
                    </div>
        </div>

        <div class="col-md-6">
                    <label for="ciudad" class="form-label fw-semibold">Ciudad <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input id="ciudad" formControlName="ciudad" class="form-control" placeholder="Tu Ciudad">
                    </div>
                    <div *ngIf="formularioCompra.get('ciudad')?.touched && formularioCompra.get('ciudad')?.invalid" class="form-text text danger">
                        Este campo es obligatorio
                    </div>
        </div>

        <div class="col-md-6">
                    <label for="codigopostal" class="form-label fw-semibold">Codigo Postal <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input id="codigopostal" formControlName="codigopostal" type="number" class="form-control" placeholder="Tu Codigo Postal">
                    </div>
                    <div *ngIf="formularioCompra.get('codigopostal')?.touched && formularioCompra.get('codigopostal')?.invalid" class="form-text text danger">
                        Este campo es obligatorio
                    </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-dark-custom">Finalizar Compra</button>
    </div>

</form>