<section class="ofertas-section py-5">
  <div class="container">
    <h2 class="section-title">Ofertas Especiales</h2>
    <p class="section-subtitle">Aprovechá estos descuentos por tiempo limitado</p>

    <div class="ofertas-grid">
      <div class="oferta-card">
        <img src="imagenes/botinyamal.jfif" alt="Oferta 1" class="oferta-img" />
        <div class="oferta-info">
          <h3 class="oferta-title">Botines Yamal</h3>
          <p class="oferta-desc">Cómodos y resistentes para cualquier aventura.</p>
          <p class="oferta-price">
            <span class="original-price">$185.500</span>
            <span class="discounted-price">$129.999</span>
          </p>
          <button class="btn btn-outline-light mt-auto">Agregar al Carrito</button>
        </div>
      </div>

      <div class="oferta-card">
        <img src="imagenes/botinesnaiki.jfif" alt="Oferta 2" class="oferta-img" />
        <div class="oferta-info">
          <h3 class="oferta-title">Botines Black</h3>
          <p class="oferta-desc">Perfectos para la ciudad y el campo.</p>
          <p class="oferta-price">
            <span class="original-price">$150.000</span>
            <span class="discounted-price">$119.500</span>
          </p>
          <button class="btn btn-outline-light btn-oferta">Agregar al Carrito</button>
        </div>
      </div>

     
    </div>
  </div>
</section>
