  <!--<h1>Productos</h1>
  <div class="card-container">
    <div *ngFor="let producto of Productos; let i=index">
    
    <div class="card" style="width: 18rem;">
      <img [src]= "producto.imagen" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <button class="btn btn-outline-primary" (click)="agregar(producto)">Agregar al carro</button>
      </div>
      <p>Precio: {{producto.precio}}</p>
    </div>
    </div>
  </div>
-->
  <!--<h1>Productos</h1>
  <div class="card-container">
    <ng-container *ngIf="Productos && Productos.length">
      <ng-container *ngFor="let producto of Productos; let i=index">
        <div *ngIf="producto.disponible" class="card">
          <img [src]="producto.imagen" alt="..." class="card-img-top">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
          <p>Precio: {{producto.precio}}</p>
          <button (click)="agregar(producto)">Agregar al Carrito</button>
    
        <button class="btn" (click)="agregarFav(producto)">
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20.503"
            height="20.625"
            viewBox="0 0 17.503 15.625"
          >
            <path
              id="Fill"
              d="M8.752,15.625h0L1.383,8.162a4.824,4.824,0,0,1,0-6.762,4.679,4.679,0,0,1,6.674,0l.694.7.694-.7a4.678,4.678,0,0,1,6.675,0,4.825,4.825,0,0,1,0,6.762L8.752,15.624ZM4.72,1.25A3.442,3.442,0,0,0,2.277,2.275a3.562,3.562,0,0,0,0,5l6.475,6.556,6.475-6.556a3.563,3.563,0,0,0,0-5A3.443,3.443,0,0,0,12.786,1.25h-.01a3.415,3.415,0,0,0-2.443,1.038L8.752,3.9,7.164,2.275A3.442,3.442,0,0,0,4.72,1.25Z"
              transform="translate(0 0)"
            ></path>
          </svg>
        </button>

          
  </div>
      </ng-container>
    </ng-container>
  </div>
-->

<section class="productos-section py-5">
  <h1 class="text-center text-light mb-4">Productos</h1>

  <div class="container">
    <div class="row g-4">
      <ng-container *ngIf="Productos && Productos.length">
        <ng-container *ngFor="let producto of Productos">
          <div *ngIf="producto.disponible" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card h-100 shadow product-card">
              <img [src]="producto.imagen" [alt]="producto.nombre" class="card-img-top" />

              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="text-info fw-bold">Precio: {{ producto.precio | currency:'ARS':'code':'1.0-0' }}</p>


                <button class="btn btn-outline-light mt-auto" (click)="agregar(producto)">Agregar al Carrito</button>
              </div>

              <button class="btn fav-btn position-absolute top-0 end-0 m-2 p-1" (click)="agregarFav(producto)" title="Favorito">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 17.503 15.625" fill="#ff5e5e">
                  <path d="M8.752,15.625h0L1.383,8.162a4.824,4.824,0,0,1,0-6.762,4.679,4.679,0,0,1,6.674,0l.694.7.694-.7a4.678,4.678,0,0,1,6.675,0,4.825,4.825,0,0,1,0,6.762L8.752,15.624Z"></path>
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section> 
